<!--ベーステンプレートの適用-->
{% extends 'base.html' %}
<!--ヘッダー情報のタイトルを設定-->
{% block title %}スケジュール管理-パスワード変更{% endblock %}

  {% block contents %}

  <div class="container">
    <div class="row">
        <div class="col py-4">
            <hr>
            <h3>パスワードを変更しますか？</h3>
            <p>
                登録済みのGmailアドレスを入力してください。
                パスワード変更用のリンクを記載したメールを送信します。
            </p>
            <br>
            <!--メール送信用のフォーム配置-->
            <form action="" method="post" class="text-center">
                {% csrf_token %}
                {{ form }}
                <!--送信ボタン-->
                <input type="submit" class="btn btn-dark" value="メールを受け取る"/><br>
            </form>
            <br>
            <!--トップページへのリンク-->
            <a href="{% url 'schedule:index' %}" class="text-dark">スケジュール管理</a>
            <hr>
        </div>
    </div>
  </div>
  {% endblock %}