<!--ベーステンプレートの適用-->
{% extends 'base.html' %}
<!--ヘッダー情報のタイトルを設定-->
{% block title %}スケジュール管理-パスワード変更メール送信{% endblock %}

  {% block contents %}

  <hr>
  <div class="container">
    <div class="row">
        <div class="col offset-2 py-4">
            <h5>
                パスワード変更手順をメールで送信しました。
            </h5>
            <br>
            <h6>
                メールが届かない場合は、
                登録済みのメールアドレスであるかを確認し、
                迷惑メールフォルダーも確認してみてください。
            </h6>
            <br>
            <!--トップページへのリンク-->
            <a href="{% url 'schedule:index' %}" class="text-dark">スケジュール管理</a>
        </div>
    </div>
  </div>
  {% endblock %}